<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>DoAnJava</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.css</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.js</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.jpg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.png</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.svg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>servlet.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/AddToCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateQuantityCart</display-name>
    <servlet-name>UpdateQuantityCart</servlet-name>
    <servlet-class>servlet.UpdateQuantityCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateQuantityCart</servlet-name>
    <url-pattern>/UpdateQuantityCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductCategoryServlet</display-name>
    <servlet-name>ProductCategoryServlet</servlet-name>
    <servlet-class>servlet.ProductCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductCategoryServlet</servlet-name>
    <url-pattern>/ProductCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFromCartServlet</display-name>
    <servlet-name>RemoveFromCartServlet</servlet-name>
    <servlet-class>servlet.RemoveFromCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFromCartServlet</servlet-name>
    <url-pattern>/RemoveFromCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDetailServlet</display-name>
    <servlet-name>ProductDetailServlet</servlet-name>
    <servlet-class>servlet.ProductDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetailServlet</servlet-name>
    <url-pattern>/ProductDetailServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>IsAdmin</display-name>
    <filter-name>IsAdmin</filter-name>
    <filter-class>Filter.IsAdmin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>IsAdmin</filter-name>
    <url-pattern>/IsAdmin</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ProductManagerServlet</display-name>
    <servlet-name>ProductManagerServlet</servlet-name>
    <servlet-class>servlet.ProductManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductManagerServlet</servlet-name>
    <url-pattern>/ProductManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>servlet.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductServlet</display-name>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>servlet.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/DeleteProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductServlet</display-name>
    <servlet-name>UpdateProductServlet</servlet-name>
    <servlet-class>servlet.UpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductServlet</servlet-name>
    <url-pattern>/UpdateProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryManagerServlet</display-name>
    <servlet-name>CategoryManagerServlet</servlet-name>
    <servlet-class>servlet.CategoryManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryManagerServlet</servlet-name>
    <url-pattern>/CategoryManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCategoryServlet</display-name>
    <servlet-name>AddCategoryServlet</servlet-name>
    <servlet-class>servlet.AddCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategoryServlet</servlet-name>
    <url-pattern>/AddCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCategoryServlet</display-name>
    <servlet-name>DeleteCategoryServlet</servlet-name>
    <servlet-class>servlet.DeleteCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCategoryServlet</servlet-name>
    <url-pattern>/DeleteCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCategoryServlet</display-name>
    <servlet-name>UpdateCategoryServlet</servlet-name>
    <servlet-class>servlet.UpdateCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCategoryServlet</servlet-name>
    <url-pattern>/UpdateCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserManagerServlet</display-name>
    <servlet-name>UserManagerServlet</servlet-name>
    <servlet-class>servlet.UserManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManagerServlet</servlet-name>
    <url-pattern>/UserManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>servlet.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>servlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderManagerServlet</display-name>
    <servlet-name>OrderManagerServlet</servlet-name>
    <servlet-class>servlet.OrderManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderManagerServlet</servlet-name>
    <url-pattern>/OrderManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderDetailServlet</display-name>
    <servlet-name>OrderDetailServlet</servlet-name>
    <servlet-class>servlet.OrderDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDetailServlet</servlet-name>
    <url-pattern>/OrderDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOrderServlet</display-name>
    <servlet-name>DeleteOrderServlet</servlet-name>
    <servlet-class>servlet.DeleteOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrderServlet</servlet-name>
    <url-pattern>/DeleteOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckoutServlet</display-name>
    <servlet-name>CheckoutServlet</servlet-name>
    <servlet-class>servlet.CheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutServlet</servlet-name>
    <url-pattern>/CheckoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateOrderServlet</display-name>
    <servlet-name>UpdateOrderServlet</servlet-name>
    <servlet-class>servlet.UpdateOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrderServlet</servlet-name>
    <url-pattern>/UpdateOrderServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Logger</display-name>
    <filter-name>Logger</filter-name>
    <filter-class>Filter.Logger</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Logger</filter-name>
    <url-pattern>/Logger</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOrderDetailServlet</display-name>
    <servlet-name>DeleteOrderDetailServlet</servlet-name>
    <servlet-class>servlet.DeleteOrderDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrderDetailServlet</servlet-name>
    <url-pattern>/DeleteOrderDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderStatusManagerServlet</display-name>
    <servlet-name>OrderStatusManagerServlet</servlet-name>
    <servlet-class>servlet.OrderStatusManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderStatusManagerServlet</servlet-name>
    <url-pattern>/OrderStatusManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOrderStatusServlet</display-name>
    <servlet-name>DeleteOrderStatusServlet</servlet-name>
    <servlet-class>servlet.DeleteOrderStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrderStatusServlet</servlet-name>
    <url-pattern>/DeleteOrderStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>servlet.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
</web-app>